/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

/*NAV BAR*/
.header-nav{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: blue;
    padding: 1rem;
}

.head{
    background-color: aqua;
    width: 30%;
    height: 70px;
}

/*HERO*/

h1{
    font-size: 4rem;
    margin: 2rem 0; 
}

.container-header{
    width: 100%;
    margin-top: 100px;
    background-color: rgb(180, 208, 231);
    height: 500px;
    padding-top: 4rem;
}

.hero{
    background-color: aliceblue;
    width:70%;
    margin: 0 auto;
}

.row-hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 8rem;
}

.p-hero{
    background-color: burlywood;
    width: 40%;
    height: 300px;
}

.img-hero{
    height: 300px;
    background-color: blanchedalmond;
    width: 59%;
}

/*MAIN*/
.container{
    width: 60%;
    margin: 0 auto;
    padding: 8rem 0 5rem;
    background-color: purple;
}

.box{
    width: 100%;
    background-color: red;
}

/*Sezione COSTI*/
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: orange;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 3 - 40px);
    margin:0 20px;
    background-color: yellow;
    height: 1000px;
}

.card-oriz{
    width: 100%;
    height: 300px;
    background-color: yellow;
    margin: 2rem 0 6rem;
}

/*SEZIONE PARTNER*/
.img{
    background-color: green;
    width: 60%;
    height: 300px;
}

.p-main{
    background-color: green;
    width: 39%;
    height: 300px;
}

/*SEZIONE D.BUSINESS*/
.card3{
    width: calc(100% / 3 - 4rem);
    height: 200px;
    margin: 2rem;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img-card{
    background-color: brown;
    width: 90%;
    height: 40%;
}

.p-card{
    background-color: tomato;
    width: 90%;
    height: 59%;
}

.recta{
    width: 100%;
    background-color: gray;
    margin: 4rem 0 ;
    padding: 3rem 0;
}