/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 4rem;
    margin: 2rem 0; 
}

.flex{
    display: flex;
    justify-content: space-between;
}

.rosso{
    color: rgb(97, 8, 43);
}

/*HEADER*/
/*NAV BAR*/
.header-nav{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: blue;
    padding: 1rem;
}

.head{
    background-color: aqua;
    width: 30%;
    height: 70px;
}

/*HERO*/
.container-header{
    width: 100%;
    margin-top: 100px;
    background-color: rgb(180, 208, 231);
    height: 500px;
    padding-top: 4rem;
}

.hero{
    background-color: aliceblue;
    width:70%;
    margin: 0 auto;
}

.row-hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 8rem;
}

.p-hero{
    background-color: burlywood;
    width: 40%;
    height: 300px;
}

.img-hero{
    height: 300px;
    background-color: blanchedalmond;
    width: 59%;
}

/*MAIN*/
.container{
    width: 60%;
    margin: 0 auto;
    padding: 8rem 0 2rem;
    background-color: purple;
}

.box{
    width: 100%;
    background-color: red;
}

/*Sezione COSTI*/
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: orange;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 3 - 40px);
    margin:0 20px;
    background-color: yellow;
    height: 1000px;
}

.card-oriz{
    width: 100%;
    height: 300px;
    background-color: yellow;
    margin: 2rem 0 6rem;
}

/*SEZIONE PARTNER*/
.img{
    background-color: green;
    width: 60%;
    height: 300px;
}

.p-main{
    background-color: green;
    width: 39%;
    height: 300px;
}

/*SEZIONE D.BUSINESS*/
.card3{
    width: calc(100% / 3 - 4rem);
    height: 200px;
    margin: 2rem;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img-card{
    background-color: brown;
    width: 90%;
    height: 40%;
}

.p-card{
    background-color: tomato;
    width: 90%;
    height: 59%;
}

.recta{
    width: 100%;
    background-color: gray;
    margin: 4rem 0 ;
    padding: 3rem 0;
}

/*SEZIONE DESIGNIT*/
.container-desi{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: darkgreen;
}

.big-square{
    width: calc(100% / 3);
    height: 500px;
    background-color: rgb(245, 245, 245);
    overflow-y:auto;
}

.square-box{
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    background-color: brown;
}

.square{
    width:calc(100% / 2) ;
    background-color: aquamarine;
    border: 1px solid black;
}

/*SEZIONE DOMANDE*/
.container-ask{
    width: 60%;
    padding: 4rem 0;
    margin: auto;
}

/*FOOTER*/
.container-footer{
    width: 100%;
    background-color:black ;
}

.row-footer{
    width: 70%;
    display: flex;
    margin: 2rem auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 5 - 4rem);
    height: 500px;
    margin: 3rem 2rem;
    background-color: wheat;
}

.bottom-footer{
    width: 70%;
    margin:2rem auto 0 ;
    padding-bottom: 3rem;

}

.span-footer{
    color: white;
    padding-top: 3rem;
    border-top: 1px solid white;
}