/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}

/*COMMON*/
h1{
    font-size: 4rem;
    margin: 2rem 0; 
}

.link{
    text-decoration: none;
    color: black;
    margin: 0 0.5rem;
    padding: 1.5rem 0;
    align-self: center;
}

i{
    transform: scale(4);
    padding-left: 0.5rem;
    margin: 1rem 0.5rem;
}

/*ROOT*/
:root{
    --border-card: 1px solid rgb(208 208 211);
}

.blu{
    color: blue;
}

.margin{
    margin: 1rem 0;
}

.margin1{
    margin-bottom: 2rem;
}

.margin2{
    margin: 2.5rem 0 0 0;
}

.margin3{
    margin-bottom: 4rem;
}

.margin-l{
    margin-left: 32px;
}

.text{
    text-align: justify;
}

.center{
    text-align: center;
}
.size{
    transform: scale(1);

}
.flex{
    display: flex;
    justify-content: space-between;
}

.rosso{
    color: rgb(97, 8, 43);
    width: 60%;
}

.sottotitolo{
    font-size: 3rem;
}

.btn{
    color: white;
    padding: 1rem;
    background-color:rgb(0, 97, 255) ;
}

.btn-bianco{
    margin-top:3rem ;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 1rem;
}

.no-bordi{
    border-style:none ;
    padding: 1rem 2.5rem;
    margin-top: 1rem;
    align-self: baseline;
}

.btn-bianco:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.btn:hover{
    background-color: rgba(0, 97, 255, 0.5);
    border-bottom: none;
}

.small{
    transform: scale(3);
}

.bold{
    font-weight: bold;
}
/*HEADER*/
/*NAV BAR*/
.header-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    max-height: 70px;
    background-color: white;
}

.head{
    width: 48%;
    padding: 1.5rem 0;
    display: flex;
    justify-content: flex-start;
}

.head img{
    margin: 0 0.5rem;
}

.sinistra{
    justify-content: flex-end;
}

.ul-head{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.ul-head li{
    gap: 0.5rem;
    display: flex;

}
li a:hover{
    border-bottom: 1px solid black;
}



/*HERO*/
.container-header{
    width: 100%;
    margin-top: 70px;
    background-color: rgb(180, 208, 231);
    padding: 3rem 0 1rem; 
}

.hero{
    width:70%;
    margin: 0 auto;
}

.row-hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.p-hero{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.p-hero a{
    align-self: start;
    margin: 2rem 0;
}

.img-hero{
    width: 69%;
}

.img-hero img{
    width: 100%;
}

.span-head{
    margin: 1rem 0 2rem;
}

/*MAIN*/
main{
    background-color: white;
    position: relative;
    top: -6rem;
}

.container{
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
}

.box{
    width: 100%;
    margin: 6rem 0;
}

.box button{
    margin: 2rem 2rem 0 0;
    /*STILE BOTTONE CON CHERCHIO BLU SCHIACCIABILE*/
}
/*Sezione COSTI*/
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0;
}

.card{
    width: calc(100% / 3 - 40px);
    border: var(--border-card);
}

.card-display{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.input-box{
    margin: 60px 0;
}

.t-input{
    size: 1rem;
    margin: 5px;
}

.tipologia{
    border-bottom: var(--border-card);
    text-align: center;
    padding: 0.5rem 0;
}

.piano{
    border: 1px solid var(--border-card);
    padding: 1rem;
}

hr{
    width: 20%;
    color:rgb(180, 208, 211) ;
    margin: 1rem 0.5rem;
}

.card-oriz{
    width: 100%;
    margin: 2rem 0 6rem;
    border: var(--border-card);
}

.card60{
    width: 55%;
    margin: 0 1.5rem;
}

.card30{
    width: 30%;
    margin: 0 1.5rem;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -50px;
}

.display-card{
    display:flex;
}

.card-align{
    text-align: inherit;
    align-self: center;
}
/*SEZIONE PARTNER*/
.img-partner{
    width: 60%;
}

.img-partner img{
    width: 100%;
}
.p-main{
    width: 35%;
    padding-top: 3rem;
}

.p-main p{
    margin-bottom: 4rem;
}

/*SEZIONE D.BUSINESS*/
.card3{
    width: calc(100% / 3 - 4rem);
    margin: 2rem 0 ;
}

.img-card{
    width: 100%;
transform: scale(1);
}

.img-card img{
    width: 100%;
}

.p-card{
    width: 90%;
    height: 59%;
    margin: 0 auto;
}

.recta{
    width: 70%;
    margin: 4rem 0 ;
    padding: 3rem 0;
}

/*SEZIONE DESIGNIT*/
.container-desi{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*BIG SQUARE*/
.big-square{
    width: calc(100% / 3);
    background-color: rgb(245, 245, 245);
    padding: 3rem 2rem;
    overflow-y: scroll;
    max-height: 100%;
    aspect-ratio: 1 / 1;
}

.marchio{
    width: 60%;
}

.marchio img{
    width: 100%;
    transform:scale(1 1);
}

.hr-grigio{
    width: 30%;
    background-color:rgb(208, 208, 211) ;
    margin:2rem 0;
}
/*SQUARE BOX*/
.square-box{
    width: calc(100% / 3);
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1 / 1;
}

.square{
    width:calc(100% / 2) ;
    height: calc(100% / 2);
    border: 1px solid black;
}

.square img{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.6);
    left: 50%;
    filter: invert(93%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

.square1{
    background-color:rgb(162, 211, 155) ;
    border: 1rem solid rgb(209, 233, 205);
}

.square2{
    background-color: rgb(97, 8, 43);
}

.square3{
    background-color: rgb(0, 147, 206);
}

.square4{
    background-color: rgb(255, 28, 28);
}

.square5{
    background-color:rgb(213, 0, 31) ;
}

.square6{
    background-color: rgb(180, 208, 231);
}

.square7{
    background-color: rgb(13, 36, 129);
}

.square8{
    background-color: rgb(266, 216, 48);
}


/*SEZIONE PROVA GRATUITA*/
.container-try{
    width: 100%;
    padding: 60px 0;
    background-color: rgb(180, 208, 231);
}

.container-try div{
    width: 60%;
    margin: 2rem auto;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

/*SEZIONE DOMANDE*/
.container-ask{
    width: 100%;
    padding: 60px 0;
    background-color: white;
}

.box-ask{
    width: 60%;
    margin: 0 auto;
}

.row-ask{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    border-top: 1px solid black;
}

.p-visibile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.p-nascosto{
    display: none;
}

.row-ask:hover .p-nascosto{
    display: block;
}
.row-ask:hover .ribaltato{
    transform: rotate(180deg);
}

.box-ask:last-child{
    border-bottom: 1px solid black;
}

/*FOOTER*/
.container-footer{
    width: 100%;
    background-color:black ;
}

.row-footer{
    width: 70%;
    display: flex;
    margin: 0 auto ;
    padding: 4rem 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 5 - 4rem);
    margin: 3rem 0;
}

.col h4{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.col ul{
    list-style: none;
}

.col ul li{
    margin: 1.2rem 0;
}

.link-footer{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

/*BOTTOM FOOTER*/
.bottom-footer{
    width: 70%;
    margin:2rem auto 0 ;
    padding-bottom: 3rem;

}

.span-footer{
    color: #999999;
    padding-top: 3rem;
    border-top: 1px solid #999999;
}

.span-footer span{
    color: #999999;
}

.span-footer i{
    padding-left: 0;
}